<div>
    <div class="new-kid">
        <div (click)="editImage(newKid)">
            <button mat-button>
                {{newKid.image ?  'New Image' : 'Add Image'}}
            </button>
            <img
            *ngIf="newKid.image"
            class="new-kid-avatar"
            [src]="newKid.image">
        </div>

        <mat-form-field appearance="fill" color="accent">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newKid.name">
        </mat-form-field>
        <div>
            <button mat-fab 
                [disabled]="invalidName"
                color="accent"
                (click)="add(newKid)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <mat-card *ngFor="let kid of data">
        <mat-card-header>
            <img mat-card-avatar [src]="kid.image">
            <mat-card-title>{{ kid.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button 
                (click)="delete(kid)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>