.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.screen {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    height: 300px;
    width: 100%;

    video, canvas {

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
    }
}