<div class="container">
	<div class="screen">
		<video #v playsinline muted autoplay></video>
		<img *ngIf="photo" [src]="photo" class="photo">
		<canvas #c hidden="true"></canvas>
	</div>
	<button *ngIf="photo" mat-stroked-button color="primary"
	 (click)="dismiss()">
		DISMISS
	</button>
	<button mat-stroked-button color="primary"
	 (click)="takePhoto(v)">
		TAKE PHOTO
	</button>
	<button mat-stroked-button color="secondary"
	(click)="open()">
	   OPEN
   </button>
   <button mat-stroked-button color="secondary"
	(click)="close()">
	  CLOSE
  </button>
</div>