<div class="container">
	<div class="screen">
		<video #v [class.hide]="!v.srcObject" playsinline muted autoplay></video>
		<img *ngIf="photo" [src]="photo" class="photo">
		<div class="profile-img">
			<!--img *ngIf="photo" [src]="photo" class="photo-profile-sm">
			<img *ngIf="photo" [src]="photo" class="photo-profile-md"-->
			<img *ngIf="photo" [src]="photo" class="photo-profile-lg">
		</div>
		<canvas #c hidden="true"></canvas>
	</div>
	<button *ngIf="photo" mat-stroked-button color="primary"
	 (click)="dismiss()">
		DISMISS
	</button>
	<button *ngIf="!photo && v.srcObject" mat-stroked-button color="primary"
	 (click)="takePhoto(v)">
		TAKE PHOTO
	</button>
</div>