
<div class="wrapper">
	<div class="screen">
		<div *ngIf="err">{{ err }}</div>
		<video #v [class.hide]="!v.srcObject" playsinline muted autoplay></video>
		<img #image
			[src]="photo" 
			class="photo"
			[class.photo-profile-lg]="profile"
			[class.hide]="!photo">
		<canvas #c hidden="true"></canvas>
	</div>
	<div class="actions">
		<button *ngIf="photo" mat-stroked-button
		(click)="dismiss()">
		   DISMISS
	   </button>
	   <button *ngIf="photo" mat-stroked-button
	   (click)="approve()">
		  OK
	  </button>
	  <button *ngIf="photo" mat-stroked-button
	  (click)="profile=!profile">
		{{ profile? 'REGULAR' : 'PROFILE' }}
	 </button>
	   <button *ngIf="!photo && v.srcObject" mat-stroked-button
		(click)="takePhoto(v)">
		   TAKE PHOTO
	   </button>
	</div>
</div>