.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    .screen {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        canvas {
            opacity: 0;
        }
        img {
            position: absolute;
            bottom: 0;
        }
    }
    .photo {
        max-width: 100%;
    }
}

