:host {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    .wrapper {
        display: flex;
        position: relative;
        button {
            margin: 0 0.5rem;
        }
        .screen {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            video {
                &.hide {
                    opacity: 0;
                }
                background-color: transparent;
            }
            canvas {
                opacity: 0;
            }
            .profile-img {
                position: absolute;
                bottom: 4px;
                right: 4px;
                display: flex;
                justify-content: center;
                .photo-profile-sm,
                .photo-profile-md,
                .photo-profile-lg {
                    object-fit: cover;
                    border-radius: 50%;
                    box-shadow: 0px 0px 4px 0 rgb(0 0 0 / 60%);
                }
                .photo-profile-sm {
                    width: 64px;
                    height: 64px;
                }
                .photo-profile-md {
                    width: 96px;
                    height: 96px;
                }
                .photo-profile-lg {
                    width: 128px;
                    height: 128px;
                }
            }
            .photo {
                position: absolute;
                bottom: 0;
                margin: auto;
                top: 0;
                &.photo-profile-lg {
                    object-fit: cover;
                    border-radius: 50%;
                    box-shadow: 0px 0px 4px 0 rgb(0 0 0 / 50%);
                    width: 128px;
                    height: 128px;
                }
            }
        }
        .actions, .text-detection {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            color: white;
            justify-content: center;
            background-color: #00000077;
        }
    }

}

