<div>
    <app-take-photo 
        (image)="image($event)"></app-take-photo>
</div>
<div>
    <input type="text" matInput [(ngModel)]="imageUrl">
    <button mat-button (click)="image(imageUrl)">RUN</button>
</div>
<div>image url: {{ imageUrl }}</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>
        <mat-select [(ngModel)]="lang">
          <mat-option *ngFor="let l of langs" 
            [value]="l.val">
            {{ l.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div>
    <button mat-button (click)="imageUrl='';text=''">
        CLEAR
    </button>
</div>
<div>
    progress: {{ progress }}
</div>
<div *ngIf="text">
    <h2>Text:</h2>
    <p>{{ text }}</p>
</div>