<div class="container" *ngIf="kid">
    <div  class="shopping-cart">

    </div>

    <div>
        <img class="pic" *ngIf="kid.image" [src]="kid.image" alt="">
    </div>
    <div class="display">
        <h1>{{ kid.name }}</h1>
    </div>
    <app-star [count]='kid.stars'></app-star>
    <div class="rate">
        <button mat-icon-button 
            (click)="updateStars.ui.click({n: -1, kid: kid })"
            [disabled]="updateStars.ui.process">
            <mat-icon class="down">thumb_down_alt</mat-icon>
        </button>
        <button mat-icon-button 
            (click)="updateStars.ui.click({n: 1, kid: kid })"
            [disabled]="updateStars.ui.process">
            <mat-icon class="up">thumb_up_alt</mat-icon>
        </button>
    </div>
</div>