<div class="container" *ngIf="kid">
    <div  class="shopping-cart">
        <a mat-icon-button [routerLink]="[ '/store/' + kid.display]">
            <mat-icon>store</mat-icon>
          </a>
    </div>

    <div>
        <img class="pic" *ngIf="kid.image" [src]="kid.image" alt="">
    </div>
    <div class="display">
        <h1>{{ kid.display }}</h1>
    </div>
    <app-star [count]='kid.stars'></app-star>
    <div class="rate">
        <button mat-icon-button (click)="rate(-1)">
            <mat-icon class="down">thumb_down_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="rate(1)">
            <mat-icon class="up">thumb_up_alt</mat-icon>
        </button>
    </div>
</div>